[Unit]
Description=Upload Wildflower Imagery
BindsTo=network-online.target
After=time-sync.target

[Service]
Type=simple
#@python3 means that "wildflower" will be shown as executable name in
#"ps", but python3 is the executable
EnvironmentFile=/boot/config/settings.txt
ExecStart=@/usr/bin/python3 wildflower -u /opt/wildflower/camera/upload.py -d /var/spool/wf-images -c $CAMNUM
Restart=always

[Install]
WantedBy=multi-user.target
